* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #f5f5f5;
  color: #333;
  padding: 20px;
  transition: background 0.3s, color 0.3s;
  min-height: 100vh;
}

/* Dark mode */
body.dark {
  background: #1e1e1e;
  color: #eaeaea;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.highlight {
  color: #ff5733;
}

/* Toggle theme */
.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0;
  right: 0; bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 24px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #ff5733;
}

input:checked + .slider:before {
  transform: translateX(29px);
}

/* title */
.title h1 {
  text-align: center;
  margin: 20px 0;
  font-size: 26px;
}

/* container */
.container {
  max-width: 700px;
  margin: auto;
  padding: 20px;
}

/* Category*/
.categories {
  margin-bottom: 20px;
  font-size: 18px;
}

.categories select {
  padding: 8px 10px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #aaa;
}

/* quote box */
#quote-box {
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
  font-size: 18px;
  min-height: 120px;
  max-height: 200px;
  transition: background 0.3s, color 0.3s;
}

body.dark #quote-box {
  background: #2a2a2a;
  color: #f2f2f2;
}

#quote-box p {
  margin: 10px 0;
}

#author {
  font-style: italic;
  text-align: right;
  color: #000;
}
body.dark #author {
  color: #fff;
}

/* button style */
.button {
  text-align: center;
  margin-top: 20px;
}

.button button {
  padding: 10px 18px;
  margin: 5px;
  font-size: 16px;
  border: none;
  background: #ff5733;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.button button:hover {
  background: #e14c2b;
}

.button i {
  font-size: 17px;
}

/* Simple small buttons (copy/share) */
#copy-quote, #share-quote {
  width: 45px;
  height: 40px;
}

/* Font size buttons */
#increasefont, #decreasefont, #resetfont {
  background: #444;
}

body.dark #increasefont,
body.dark #decreasefont,
body.dark #resetfont {
  background: #666;
}

